<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: #176aa6">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-link nav-item active" href="{{home_route}}">Home</a>
            <a class="nav-link nav-item" href="{{profile_route}}">My profile</a>
            <a class="nav-link nav-item" href="{{new_quiz_route}}">New quiz</a>
            <a class="nav-link nav-item" href="{{quiz_list_route}}">Quiz list</a>
            <a class="nav-link nav-item" href="{{quiz_stats_route}}">Quiz statistics</a>
            <a class="nav-link nav-item" href="{{challenge_route}}">Quiz challenge</a>
        </div>
        <div class="navbar-text ml-auto">
            <strong style="color: yellow">{{firstName}} {{lastName}}</strong>
            <a class="btn-sm btn-secondary" style="background-color: gray;color: white;text-decoration: none" href="{{logout_route}}">Logout</a>
        </div>
    </div>
</nav>