<nav class="navbar navbar-expand-lg navbar-dark  " style="background-color: #176aa6">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-link nav-item active" href="./">Home</a>
            <a class="nav-link nav-item" href="./logout">Logout</a>
            <a class="nav-link nav-item" href="./profile">My profile</a>
            <a class="nav-link nav-item" href="./quiz-new">New quiz</a>
            <a class="nav-link nav-item" href="./quiz-all">Quiz list</a>
            <a class="nav-link nav-item" href="./quiz-stats">Quiz statistics</a>
            <a class="nav-link nav-item" href="./challenge">Quiz challenge</a>
        </div>
        <span class="navbar-text ml-auto" style="color: yellow">
               <strong>{{firstName}} {{lastName}}</strong>
        </span>
    </div>
</nav>