<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The QRef</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="web/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />


</head>
<body>

{{navbar}}

<div class="main-container">
    <div class="newQuizForm" style="width: 800px;padding: 30px">

        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="quizNameInput" class="col-sm-2 col-form-label">Quiz name</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="quizNameInput">
                </div>
            </div>
            <div class="form-group row">
                <label for="quizDescInput" class="col-sm-2 col-form-label">Quiz description</label>
                <div class="col-sm-10">
                    <textarea name="description" class="form-control" id="quizDescInput"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="quizQuestions" class="col-sm-2 col-form-label">Quiz input lines</label>
                <div class="col-sm-10">
                    <textarea name="qref" class="form-control" id="quizQuestions" rows="6"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="quizFileInput" class="col-sm-2 col-form-label">Quiz file</label>
                <div class="col-sm-10">
                    <input type="file" name="quizFile" accept=".qref" id="quizFileInput">
                    <small id="emailHelp" class="form-text text-muted">If you send both file and quiz input lines, file will be used.</small>
                </div>

            </div>


            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="publicCheckbox" value="true" name="public">
                        <label class="form-check-label" for="publicCheckbox">
                            Public
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="commentCheckbox" value="true" name="canBeCommented">
                        <label class="form-check-label" for="commentCheckbox">
                            Can be commented
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Create quiz</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    {=error.html}}
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>



