<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The QRef</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="web/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />


</head>
<body>

{{navbar}}

<div class="main-container">
    <div class="quizPlayForm" style="padding: 10px 30px;">

        <div class="card-deck" style="width: 850px; margin: auto">
            <div class="card">
                <img class="card-img-top" src="web/img/easy.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Easy</h5>
                    <p class="card-text">Easy difficulty level - 5 questions </p>
                    <a href="{{play_challenge_route}}?level=easy" class="btn btn-primary">Play</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="web/img/medium.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Medium</h5>
                    <p class="card-text">Medium difficulty level - 10 questions</p>
                    <a href="{{play_challenge_route}}?level=medium" class="btn btn-primary">Play</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="web/img/hard.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hard</h5>
                    <p class="card-text">Hard difficulty level - 15 questions</p>
                    <a href="{{play_challenge_route}}?level=hard" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
